<div class="home-container">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
  <div class="image-container">
  <%= image_tag Rails.application.routes.url_helpers.url_for(current_user.profile_picture), height: '30', width: '30', style: 'border-radius: 50%; border: solid white 1px;' %>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Profile</a>
        </li>
      </ul>
      <div class="">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, style:'border:none;background-color:#5b65ca' %>
      
       
      </div>
    </div>
  </div>
</nav>



      
     

<div class="d-flex flex-column">
<div class="main-heading"> Welcome <%= current_user.email %> </div> 
<div class="sub-heading">Millions of people are searching for jobs,<br/> salary information, company</br> reviews. Find the job that <br/>fits your abilities and </br> potential.</div>

   
    <!-- Subscription Status -->
    <% if user_signed_in? %>
      <% if @user_subscription %>
        <% case @user_subscription.plan %>
          <% when 'basic' %>
            <div class="">
              <h4 class="sub-heading text-bold text-color">You are on the Basic Plan</h4>
              <p class="sub-heading text-color">Thank you for subscribing to the Basic Plan. Enjoy your access to the basic features!</p>
            </div>
          <% when 'silver' %>
            <div class="">
              <h4 class="sub-heading text-bold text-color" >You are on the Silver Plan</h4>
              <p class="sub-heading text-color">Thank you for subscribing to the Silver Plan. You have access to additional features!</p>
            </div>
          <% when 'diamond' %>
            <div class="">
              <h4 class="sub-heading text-color">You are on the Diamond Plan</h4>
              <p class="sub-heading text-color">Thank you for subscribing to the Diamond Plan. Enjoy premium features and benefits!</p>
            </div>
          <% else %>
            <div class="alert alert-secondary">
              <h4>Your subscription plan is not recognized.</h4>
            </div>
        <% end %>
      <% else %>
        <div class="alert alert-info">
          <h4>You do not have an active subscription.</h4>
          <p>Consider subscribing to one of our plans to enjoy premium features.</p>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <h4>Please sign in to view your subscription details.</h4>
      </div>
    <% end %>

    <div class="mt-4">
    <%= link_to 'Buy Premium', buy_premium_path, class: 'bg-button' %>  
    </div>

    <!-- Static Buy Premium Button -->
   













<!-- Add more content as needed -->
