body {
    background-color: #f0f0f0; /* Change this to your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .signup-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form-container h2 {
    text-align: center;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .actions {
    text-align: center;
  }
  