body {
    
  }

  .sign-up-wrap{
    background-color: #f0f0f0; /* Change this to your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap:5px;

  }
  
  .signup-form-container {
    background-color: #ffffff;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form-container h2 {
    text-align: center;
  }
  
  .field {
    margin-bottom: 8px;
  }
  
  .actions {
    text-align: center;
    
  }

  .button-no-border {
    border: none;
    background-color: transparent; 
    color: inherit; 
    cursor: pointer; 
    padding: 0; 
    
    margin-right:10px; 
  }

  .image-container{
    height:30px;
    width:30px;
    border-radius: 50px;
    border:1px solid grey;
  }

  .container {
    background-color: #ffffff; /* White container background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    color: #333333;
  }


  